<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Login Automation Suite">

	<test name="Login Test Cases">
<!-- 
	<groups>
	<run>
	   <include name="valid"></include>
	</run>
	</groups>
	-->

	
		<classes>
			<class name="com.srinadh.milestone1.tests.LoginTest" />
		</classes>
	</test>

</suite>
